apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: finance-ingress
spec:
  rules:
  - host: transactions.bank.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: transaction-service
            port:
              number: 443
